#MAXUP# - Configure max upload limit
#MAXDOWN# - Configure max download limit

#NUMEROTELF-1# - Configure phone line 1
#NUMEROTELF-2# - Configure phone line 2

#SNMP-WRITE# - Configure SNMP Write community
#SNMP-READ# - Configure SNMP READ Community

#VOIP-SERVER-IP-1# - configure voip server (gateway)
#SW-UPGRADE-SERVER# - Configure IP for software upgrade


